*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(https://img.freepik.com/free-vector/global-network-connection-world-map-point-line-composition-concept-global-business-vector-illustration_41981-1793.jpg);
}


   